* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.main {
  transition: all 0.5 ease-in-out;
  margin-left: 300px;
  overflow: hidden;
}
.ml0 {
  animation: mainslide 0.5s;
  margin-left: 0;
}
@keyframes mainslide {
  0% {
    margin-left: 240px;
  }

  100% {
    margin-left: 0px;
  }
}
.secnav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px lightpink;
}
.donation-data {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.custom-table {
  position: relative;
  overflow: auto;
  height: 65vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(202, 36, 36, 0.979);
}
.data-navigation {
  display: flex;
  justify-content: center;
}
.data-navigation a {
  padding: 5px;
  margin: 5px;
}
.menu-icon {
  padding: 10px;
}
.addinfo {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.addinfo > div {
  width: 500px;
  background-color: #fff;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.541);
}
.form-control {
  border-radius: 10px;
}
input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid rgba(128, 128, 128, 0.295);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
input:focus,
textarea:focus {
  outline: none;
  border: 3px solid rgba(211, 8, 8, 0.568);
}
.basicbtn {
  color: white;
  padding: 10px;
  background-color: rgba(211, 8, 8, 0.9);
  border-radius: 5px;
}
button {
  border: none;
}
button:focus {
  outline: none;
}
.input_title {
  font-size: 1.1em;
  font-weight: 500;
}
.img_display {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
}
.img_display:hover .img_text {
  background-color: rgba(0, 0, 0, 0.6);
}
.darkbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.img_text > p {
  position: relative;
  top: 50%;
  color: white;
  font-weight: 400;
  transform: translateY(-50%);
}
#imgholder {
  width: 150px;
  height: 150px;
}
.gallery-lable {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  min-width: 150px;
  min-height: 150px;
  transition: all 0.4s ease-in-out;
}
.gallery-lable:hover .img_text {
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  .main {
    margin-left: 0;
  }
  .custom-table {
    overflow: visible;
    overflow-x: auto;
  }
  .main {
    overflow: auto;
  }
}
